
  <div class="container">
    <div class="row">
      <div class="col-md-3" id="logo"><img src="img/FWDnowLogo.png"></div>
  <div class="col-md-6" id="title">We are all in for immigration reform, so let's all move forward <span class="blue">now</span></div>
      <div class="col-md-3" id="count"><span class="blue">234,334</span> forwards so far</div>
     </div>
   </div>

  <div class="container">
      <div class="row">
        <div class="col-md-12" id="main">
      <div class="featured">
        <img src="img/Kim-Big.jpg"></img>

        <div id="featured-info">
          <div id="featured-quote">"#FWDnow and support immigration reform with me"</div>

          <div id="button">
            <span><img src="img/btnFWD.png"></img></span>
            <span id="button-text">FWD now with Kim</span>
          </div>

          <div id="featured-stat"><spam class="blue-big">57,891</spam>people have forwarded with Kim</div>
        </div>
      </div>
    </div>

    <div id="posting">
      <span class="description">I go FWD with @Shakira to support immigration reform #ready4reform</span>
      <a class="button button_fb submit">
        <span>Share on Facebook</span>
      </a>
      <a class="button button_tw submit">
        <span><a href="#" id="twitter-share-button">Share on Twitter</a></span>
      </a>
    </div>

    <div id="featured-info">
      <div id="featured-quote">"#FWDnow and support immigration reform with me"</div>
      <a id="button" class="button button_blue">
        <span><img src="img/btnFWD.png"></img></span>
        <span id="button-text">FWD now with Kim</span>
      </a>
      <div id="featured-stat"><span class="blue-big">57,891</span>people have forwarded with Kim</div>
    </div>
  </div>
</div>

<div class="container">
      <div class="row">
        <div class="col-md-6 medium">
          <div class="inside2"><img src="img/Julianne-Small.jpg"></img><div rel="stylesheet" href="css/style.css" type="text/css">"#FWDnow and support immigration reform with me"</div></div>
             <!--<div rel="stylesheet" href="css/style.css" type="text/css">"Immigration reform will put 11 million people living in the United States on pathway to citiznenship" -Jualianne Moore</div>-->
        </div>
    <div class="col-md-6 medium">

      <div id="video-info">
          <img src="img/Taboo-Small.jpg"></img>

          <div id="video-quote">

            <span id="video-quote-title">"One Heart, One Beat"</span>

            <span id="video-quote-text">"Taboo's new song opposing Arizona's Bill 1070 against undocumented immigrants"</span>

            <span id="video-quote-signature">-Taboo</span>
          </div>

          <div id="video-stat"><spam class="blue-medium">41,292 </spam>people have forwarded with Taboo</div>
      </div>


          <!--<div class="video">
            <img src="img/Taboo-Small.jpg"></img></div>
              <div id="video">"Taboo's new song opposing Arizona's Bill 1070 against illegal immigration -Taboo</div>-->
        </div>
  </div>
</div>

<div class="container">
      <div class="row">
        <div class="col-md-6 medium">
          <div class="inside2"><img src="img/Aloe-Small.jpg"></img></div>
              <!--<div id="">"Wake me up" Taboo's new song opposing Arizona's Bill 1070 against illegal immigration -Aloe Ball</div>-->
        </div>
    <div class="col-md-6 medium">
          <div class="inside2"><img src="img/Sarah-Small.jpg"></img></div>
              <!--<div id="">"Sarah is among "more than 100 musicians and actors [who] have signed a letter to President Obama and members of Congress urging them to pass a bill that provides a 'clear road map to citizenship' for the nation's 11 million unauthorized immigrants."</div>-->

        </div>
  </div>
</div>

<div class="container">
      <div class="row">
        <div class="col-md-6 medium">
          <div class="inside2"><img src="img/Oprah-Small.jpg"></img></div>
              <!--<div id="">
"It's possible to both enforce our laws and, at the same time, embrace the words on the Statue of Liberty that have welcomed generations of huddled masses to our shores" -Oprah </div>-->
        </div>
    <div class="col-md-6 medium">
          <div class="inside2"><img src="img/Sergio-Small.jpg"></img></div>
              <!--<div id"">"Two million undocumented people deserve a chance to live their dream and we will all win if they do" Sergio Romo</div>-->
        </div>
  </div>
</div>



<div id="fb-root"></div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>
      // loading FB, Twitter code
      // fb
      (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=672186636154514";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
  <div class="fb-share-button" data-href="http://fwdnow.com" data-width="100" data-type="button"></div>

  Call congress:
  <form action="https://secure.mcommons.com/profiles/join" method="post">
    <input type="hidden" name="redirect_to" value="http://www.fwd.us/call_thank_you" />
    <input id="zipcode" type="text" class="text" name="person[postal_code]" placeholder="Zip Code" value="">
    <input type="hidden" name="mconnect" value="VO5368E793DE4ECCFA7910A7CC1D47A6FF" />
          (FWD.us House Targets (TA))
          <label>Phone Number:</label>
          <input type="text" name="person[phone]" />
          <input type="submit" value="Call Me!" />
  </form>

  <div>
    Postcards
    <button id="send_postcard">Send Postcard to Congress</button>
  </div>

  <script>
    function popupwindow(url, w, h) {
      var left = (screen.width/2)-(w/2);
      var top = (screen.height/2)-(h/2);
      return window.open(url, "", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
    }
    $('#twitter-share-button').click(function(e) {
      e.preventDefault();
      var rep = JSON.parse(localStorage.getItem('congressman'));
      popupwindow("https://twitter.com/share?" + $.param({
        url: "http://fwdnow.com",
        related: "fwd_us",
        text: "I am moving #fwdnow with @shakira to support immigration reform. Join us" +
          (rep ? " Rep. @" + rep.twitter_id : "")
      }), 600, 300);
    });
    $('input#zipcode').change(function(e) {
      var zipcode = $('input#zipcode').val();
      if (zipcode.length < 5) {
        localStorage.removeItem('congressman');
      }
      if (zipcode.length == 5) {
        $.getJSON("https://congress.api.sunlightfoundation.com/legislators/locate", {
          zip: zipcode,
          apikey: "afab65a2fbb74ec5b72ea09d9ebfd938"
        }, function(response) {
          var house_reps = response.results.filter(function(rep) {
            return rep.chamber === "house";
          });
          // we'll have more than one rep if zip code is ambiguous,
          // just pick first one
          if (house_reps.length > 0) {
            var our_rep = house_reps[0];
            localStorage.setItem('congressman', JSON.stringify(our_rep));
          }
        });
      }
    });
    $('#send_postcard').click(function(e) {
      e.preventDefault();
      $.ajax('/api/send_postcard', {
        type: "POST",
        headers: {'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'},
        data: {
          message: "Support Immigration reform yo!",
          photo_url: "http://alexeymk.com/images/alexey.jpg", // TODO get photo
          zipcode: 42410 // TODO forreal
      }}).always(function(response, status) {
        console.log(response, status);
      });
    });
  </script>
