/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);*/

body{
	background-color: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

/* --------- general --------*/

.black{
	color: black;
}

.blue{
	color: #38a0f4;
}

.white{
	color: white;
}

.medium{
	margin-bottom: 30px;
}

.alpha-text{
	background: rgba(120, 120, 120, .55);
}

.font-extra-big{
	font-size: 28px;
}

.font-big{
	font-size: 26px;
}

.font-large{
	font-size: 22px;
}

.font-medium{
	font-size: 18px;
}

.font-normal{
	font-size: 14px;
}

.font-small{
	font-size: 12px;
}


/* --------- header info --------*/

#notice{
	background-color: #38a0f4;
	color: #fff;
	width: 100%;
	height: 100%;
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	display: block;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
}

#logo{
	float: left;
	margin-top: 16px;
}

#logo img{
		height: 50px;
}

#title{
	text-align: center;
	padding: 30px 0px;
	font-size: 20px;
}

#total-count{
	text-align: right;
	padding-top: 36px;
	/*font-size: 10px;*/
}

/*@media (min-width: 768px)
	.container {
		/*width: 100%;
	}
}*/

/*@media (max-width: 1578px) {
    .container {
      padding:0;
      margin:0;
      width: 100%;
    }

    body {
      padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}
*/

/*@media all and (min-width: 1000px){
	#notice{
		font-size: 14px;
	}

	#logo{
		margin-top: 16px;
	}

	#logo img{
		height: 50px;
	}

	#title{
		padding: 30px 0px;
		font-size: 20px;
	}

	#total-count{
		text-align: right;
		padding-top: 10px;
		font-size: 10px;
	}
}*/

/* medium screen */
/* @media all and (max-width: 1000px){	*/
/* Portrait tablet to landscape and desktop */
/*@media (min-width: 768px) and (max-width: 979px){}
	#notice{
		font-size: 12px;
	}

	#logo{
		margin-top: 16px;
	}

	#logo img{
		height: 40px;
	}

	#title{
		padding: 26px 0px;
		font-size: 18px;
	}

	#total-count{
		float: right;
		padding-top: 31px;
		font-size: 12px;
	}
}
*/
/* small screen */
/*@media all and (max-width: 600px){
	
	#notice{
		font-size: 10px;
	}

	#logo{
		margin-top: 20px;
	}

	#logo img{
		height: 35px;
	}

	#title{
		padding: 30px 0px;
		padding-bottom: 10px;
		font-size: 15px;
	}

	#total-count{
		text-align: right;
		padding-top: 10px;
		font-size: 10px;
	}

	.container{
		margin-left: 5px;
		margin-right: 5px;
	}
}
*/
/* --------- featured --------*/
.main{
	position: relative;
	margin-bottom: 32px;
}

.main img{
	width: 100%;
}

.main .description{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	padding-top: 70px;
	padding-left: 50px;
}

.main .quote{
	width: 400px;
	font-size: 22px;
}

.main .fwdnow-button{
	position: absolute;
	background-color: #525657;
	border:1px solid #;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 8px; 
	top: 175px;
	padding: 10px 15px;
	min-width: 165px;
}

.main .fwdnow-button img{
	width: 25px;
}

.main .count{
	position:absolute;
	padding-bottom: 10px;
	bottom:0;
	width: 100%;
	/*font-size: 10px;*/
	padding-bottom: 15px;
}

.main .count .number{
	font-size: 26px;
}

.main .quote-character{
	font-family: serif;
	font-size: 28px;
}

/* large screen */
/*@media all and (min-width: 1000px){

	.main .description{
		padding-top: 70px;
		padding-left: 50px;
	}

	.main .quote{
		width: 400px;
		font-size: 22px;
	}

	.main .fwdnow-button{
		top: 175px;
		padding: 10px 15px;
		min-width: 165px;
	}

	.main .fwdnow-button img{
		width: 25px;
	}	

	.main .count{
		padding-bottom: 15px;
	}

	.main .count .number{
		font-size: 26px;
	}

	.main .quote-character{
		font-size: 28px;
	}
}
*/

/* medium screen */
/*@media all and (max-width: 1000px){

	.main .description{
		padding-top: 30px;
		padding-left: 50px;
	}

	.main .quote{
		width: 300px;
		font-size: 18px;
	}

	.main .fwdnow-button{
		top: 135px;
		padding: 5px 15px;
		min-width: 165px;
		font-size: 12px;
	}

	.main .fwdnow-button img{
		width: 20px;
	}

	.main .count{
		padding-bottom: 15px;
		font-size: 12px;
	}

	.main .count .number{
		font-size: 18px;
	}

	.main .quote-character{
		font-size: 22px;
	}
}*/

/* small screen */
/*@media all and (max-width: 600px){

	.main .description{
		padding-top: 15px;
		padding-left: 35px;
	}

	.main .quote{
		width: 180px;
		font-size: 11px;
	}

	.main .fwdnow-button{
		top: 75px;
		padding: 5px 10px;
		min-width: 135px;
		font-size: 10px;
	}

	.main .fwdnow-button img{
		width: 20px;
	}

	.main .count{
		padding-bottom: 10px;
		font-size: 10px;
	}

	.main .count .number{
		font-size: 13px;
	}

	.main .quote-character{
		font-size: 14px;
	}
}*/


/* rows */
.secondary{
	overflow: hidden;
	position: relative;
	max-height: 320px;
}

.secondary img{
	width: 100%;
}

.secondary .description{
	position: absolute;
	z-index: 2;
	top: 25px;
	left: 20px;
	/*width: 360px;*/
	/*height: 100%;*/
	/*font-size: 12px;*/
	/*padding-bottom: 30px;*/
	/*padding-right: 110px;*/
	display: block;
	/*padding-top: 70px;*/
	/*padding-left: 50px;*/
}

.secondary .quote{
	width: 250px;
	font-size: 16px;
}

.secondary .quote-character{
	font-family: serif;
	/*font-size: 20px;*/
}

.secondary .header{
	/*padding-bottom: 10px;*/
	font-size: 20px;
	display: block;
}

.secondary .fwdnow-button{
	position: absolute;
	top: 190px;
	padding: 5px 15px;
	min-width: 120px;
	background-color: #525657;
	border:1px solid #;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 8px; 
	margin-left: 20px;
}

.secondary .fwdnow-button img{
	width: 20px;
}

.secondary .count{
	position:absolute;
	padding-bottom: 10px;
	bottom: 0px;
	width: 100%;
	left: 20px;
}

.secondary .count .number{
	font-size: 18px;
}

.secondary .play-btn{
	top: 40%;
	left: 43%;
	height: 80px;
	width: 80px;
	position: absolute;
	z-index: 3;
}

/* ---- postcard ----- */
#postcard {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: 410px;
	/*padding: 27px;*/
	padding-left: 27px;
	padding-top: 27px;
	padding-bottom: 27px;
	padding-right: 17px;
	background: rgba(0, 0, 0, .15);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: white;
}

#postcard .postcard_container {
	float: left;
	/*width: 373px;*/
	width: 377px;
}

#postcard .thankyou {
	display: block;
	margin-bottom: 12px;
	font-size: 32px;
	color: #38a0f4;
}

#postcard .thankyou_sub {
	display: block;
	margin-bottom: 12px;
	font-size: 20px;
	width: 345px;
}

#postcard .description {
	display: block;
	margin-bottom: 12px;
	font-size: 15px;
	/*width: 345px;*/
	width: 100%;
	font-weight: normal;
}

#postcard .support {
	/*	width: 350px;*/
	width: 100%;
}

#postcard .support .support_title {
	font-size: 15px;
	font-weight: normal;
	display: block;
	margin-bottom: 3px;
	margin-top: 3px;
}

#postcard .support .support_sub {
	font-size: 12px;
	display: block;
	margin-bottom: 5px;
}

#postcard .support input {
	background: rgba(255, 255, 255, .25);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	color: #fff;
	border: none;	
	padding: 5px;
}

#postcard .support .input_big {
	width: 145px;
	height: 28px;
	border: none;
	margin-bottom: 15px;
}

#postcard .support .input_sml {
	width: 107px;
	height: 28px;
	margin-left: 10px;
	margin-bottom: 15px;
}

#postcard .support .input_btn {
	width: 70px;
	height: 28px;
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	padding: 5px;
	margin-bottom: 15px;
}

.blue-circle {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	behavior: url(PIE.htc);

	width: 25px;
	height: 25px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 5px;

	background: #38a0f4;
	border: 0px solid #38a0f4;
	color: #fff;
	text-align: center;

	font: 14px
}

/* ----- posting popup -----*/ 
.fancybox-opened .fancybox-skin{
	background: rgba(0, 0, 0, .85);
}

#posting {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	/*width: 220px;*/
	padding: 10px;
	/*background: rgba(0, 0, 0, .75);*/
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
	color: white;
	font-weight: normal;
}

#posting .description {
	text-align: center;
	display: inline-block;
	margin-bottom: 25px;
}

#posting .btn_round {
	display: inline-block;
	height: 30px;
	width: 30px;
	cursor: pointer;
	border: 2px solid #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin: 4px;
	line-height: 30px;	
}

#posting .btn_round_blue {
	display: inline-block;
	height: 30px;
	width: 30px;
	cursor: pointer;
	border: 2px solid #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin: 4px;
	background: rgba(56, 160, 244, .75);
}

#posting .submit {
	font-size: 12px;
	height: 30px;
	padding: 8px;
	text-align: center;
	width: 190px;
	margin-top: 12px;
}

#posting img{
	height: 30px;
}

.posting-btn{
	width: 230px;
	height: 35px;
	padding-left: 35px;
	vertical-align: middle;
	text-align: left;
	display: block;
	margin-bottom: 10px;
}

.posting-btn img{
	vertical-align: bottom;
}

/* ----- button basic -----*/ 
.button {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.button span {
	display: inline-block;
	vertical-align: middle;
}

.button_blue {
	background: rgba(56, 160, 244, .75) !important;
	color: #fff;
}

a.button_blue:hover {
	/*background: rgba(100, 200, 255, .75);
	color: #fff;*/
}

.button_black {
	background: rgba(0, 0, 0, .75);
	color: #fff;
}

a.button_black:hover {
	background: rgba(120, 120, 120, .75);
	color: #fff;
}

a:hover, a:focus{
	text-decoration: none;
}

/* ---- Button social media ------*/

.fb-btn{
	background-color: #3b5998;
}

.tw-btn{
	background-color: #38a0f4;
}

.btn-desc{
	line-height: 35px;
	vertical-align: middle;
}

/*#btn-facebook{
	background-color: #38a0f4;
	height: 65px;
	min-width: 200px;
}

#btn-twitter{
	background-color: #38a0f4;
	height: 65px;
	min-width: 200px;
}*/

/*#button{
	position: absolute;
	top: 175px;
	height: 45px;
	padding: 10px 15px;
	min-width: 165px;
	background-color: #525657;
	border:1px solid #;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 8px; 
}


#button img{
	width: 25px;
}*/