@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body{
	background-color: black; 
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

#header{
	float: top;
	text-align: center;
	vertical-align: middle;
	color: white;
}

.blue{
	color: #38a0f4;
}

#logo{
	float: left;
	margin-top: 16px;
}

#logo img{
	height: 50px;
}


#title{
	padding: 30px 0px;
	text-align: center;
	font-size: 18px;
}


#count{
	text-align: right;
	padding-top: 34px;
	font-size: 14px;
}

.featured{
	height: 482px;
	margin-bottom: 32px;
	position: relative;
}

.featured img{
	width: 100%;
}

.medium{
	margin-bottom: 30px;
}

.inside2{
	height: 325px;
	overflow: hidden;
}

.inside2 img{
	width: 100%;
}

#featured-quote-right{
	padding: 50px 50px 0 50px;
	font-size: 20px;
	width: 470px;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
}


#featured-quote-left{
	padding: 50px 1px 1px 100px;
	font-size: 18px;
	width:470px;
	position: absolute;
	z-indez: 1;
	top:0;
	left:0;
}

