@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body{
	background-color: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

#header{
	float: top;
	text-align: center;
	vertical-align: middle;
	color: white;
}

.blue-big{
	color: #38a0f4;
	font-size: 26px;
}

.blue-medium{
	color: #38a0f4;
	font-size: 18px;
}

.blue{
	color: #38a0f4;
}

#logo{
	float: left;
	margin-top: 16px;
}

#logo img{
	height: 50px;
}


#title{
	padding: 30px 0px;
	text-align: center;
	font-size: 18px;
}


#count{
	text-align: right;
	padding-top: 34px;
	font-size: 14px;
}

.featured{
	height: 482px;
	margin-bottom: 32px;
	position: relative;
}

.featured img{
	width: 100%;
}

.medium{
	margin-bottom: 30px;
}

.inside2{
	height: 325px;
	overflow: hidden;
}

.inside2 img{
	width: 100%;
}

#featured-info-left{
	padding-left: 50px;
	width: 450px;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

#featured-info{
	padding-right: 50px;
	width: 400px;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	/*background-color: gray;*/
}

#video-info{
	height: 325px;
	overflow: hidden;
	position: relative;
}

#video-info img{
	width: 100%;
}


#video-quote{
	width: 298px;
	position: absolute;
	z-index: 2;
	top: 20px;
	left: 25px;
}

#video-quote-title{
	font-size: 25px;
	padding-bottom: 20px;
	width: 100%;
	display: block;
}

#video-quote-text{
	font-size: 14px;
	padding-bottom: 30px;
	padding-right:110px;
	display: block;
}

#video-quote-text-black{
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-right:110px;
	display: block;
	color: #2A0000;
}

#video-quote-signature{
	font-size: 16px;
	display: block;
}

#video-quote-signature-black{
	padding-top: 10px;
	font-size: 20px;
	display: block;
	color:#2A0000;
	font-size: 14px;
}

#video-stat{
	padding-bottom: 15px;
	font-size: 14px;
	position:absolute;
	bottom:0;
	left: 25px;
}

#video-stat-black{
	padding-bottom: 15px;
	font-size: 14px;
	position:absolute;
	bottom:0;
	left: 25px;
	color: black;
}

#button{
	position: absolute;
	top: 175px;
	height: 45px;
	padding: 10px 15px;
	min-width: 165px;
	background-color: gray;
}

#button-text{
	padding-left: 10px;
	padding-right: 5px;
	font-size: 16px;
	height: 25px;
	line-height: 25px;
}

#button img{
	width: 25px;
}

#featured-quote{
	padding-top: 70px;
	font-size: 22px;
	color: black;
}

#featured-button{
	margin-top: 80px;
	height: 40px;
	width: 250px;
	background-color: #38a0f4;
	padding-top: 9px;
}

#featured-button-logo{
	float: left;
	padding-left: 30px;
	padding-right: 10px;
	//background-color: green;
}

.white-text {
  color: white;

}

#featured-button-logo img{
	width: 30px;
}

#featured-button-message{
	padding-left: 10px;
	font-size: 18px;
	//background-color: red;
}

#featured-stat{
	padding-bottom: 15px;
	font-size: 14px;
	position:absolute;
	bottom:0;
	color: black;
}

#featured-quote-left{
	padding-top: 70px;
	font-size: 20px;
}

/*posting postcard*/

#postcard {
  display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 800px;
	height: 410px;
	padding: 27px;
	background: rgba(0, 0, 0, .75);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#postcard .postcard_container {
	float: left;
	width: 373px;
}

#postcard .thankyou {
	display: block;
	margin-bottom: 12px;
	font-size: 32px;
	color: #38a0f4;
}

#postcard .thankyou_sub {
	display: block;
	margin-bottom: 12px;
	font-size: 20px;
	width: 345px;
}

#postcard .description {
	display: block;
	margin-bottom: 12px;
	font-size: 15px;
	width: 345px;
}

#postcard .support {
	width: 350px;
}

#postcard .support {
	width: 350px;
}

#postcard .support .support_title {
	font-size: 15px;
	font-weight: normal;
	display: block;
	margin-bottom: 10px;
}

#postcard .support .support_sub {
	font-size: 12px;
	display: block;
	margin-bottom: 10px;
}

#postcard .support input {
	background: rgba(255, 255, 255, .25);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	color: #fff;
	border: none;
	font-weight: lighter;
	padding: 5px;
}

#postcard .support .input_big {
	width: 145px;
	height: 28px;
	border: none;
	margin-bottom: 15px;
}

#postcard .support .input_sml {
	width: 107px;
	height: 28px;
	margin-left: 10px;
	margin-bottom: 15px;
}

#postcard .support .input_btn {
	width: 70px;
	height: 28px;
	margin-left: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	padding: 5px;
	margin-bottom: 15px;
}
