<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style-new.css">
	<meta property="og:url" content="http://www.fwdnow.us/"/>
	<meta property="og:title" content="FWDnow"/>
	<meta property="og:description" content="Join your favorite celebrity and stand for immigration reform"/>
	<meta property="og:image" content="http://www.fwdnow.us/img/Ashton2x.jpg"/>
	<link rel="shortcut icon" type="image/png" href="img/icon.png" />
	<link rel="icon" type="image/png" href="img/icon.png" />
	<title>FWDnow for Immigration Reform</title>
	<%= csrf_meta_tags %>
<body>

<%= yield %>

</body>
</html>
