<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/style-new.css">
	<meta property="og:url" content="http://www.fwdnow.us/"/>
	<meta property="og:title" content="FWDnow"/>
	<meta property="og:description" content="Join your favorite celebrity and stand for immigration reform"/>
	<meta property="og:image" content="http://www.fwdnow.us/img/Ashton2x.jpg"/>

	<title>FWDnow for Immigration Reform</title>
	<%= csrf_meta_tags %>
<body>

<%= yield %>

</body>
</html>
