<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<title>FWDnow for Immigration Reform</title>
  <%= csrf_meta_tags %>
<body>

<%= yield %>

</body>
</html>
